@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html {
    font-size : 62.5%;
    background-color: rgb(251, 249, 254);
}


body{
    padding: 0 4rem 4rem 4rem;
}

a{
    text-decoration: none;
    color: black;
}

/* Beginning of Header Section */

.header{
    display: flex;
    padding: 1rem 0rem;
}
.title-card{
    background-color: rgb(255,255,255);
    border-radius: 0.6rem;
    font-weight: 900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    display: flex;
    justify-content: center;
}

.title p{
    font-size: 2rem;
    font-weight: 900;
}

.nav-icons{
    flex-direction: row;
    justify-content: space-around;
    flex: 3;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
}

.nav-icons a {
    font-size: 1.6rem;
    margin-right: 3rem;
    font-weight: 900;
    color: black;
}
.nav-icons a:hover{
    color: #DF7861;
}
.logo{
    color: #DF7861;
     font-weight: 900;
}

/* End of Header Section  */

/* Beginning of Content Section */
/* Search Bar */
.content {
    display: flex;
    flex-wrap: wrap;
}

.search-bar{
    padding: 2rem;
    flex-basis: 100%;
    display: flex;
    padding-left: 2rem;
}


.search-bar input{
    width: 90%;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    border-style: none;
    border: 1px solid #CFD2CF;
    border-radius: 0.8rem;
}
.search-bar input::placeholder{
    color: grey;
    font-size: 1.6rem;
}
.search-bar input[type="search"]{
  font-size:2rem !important;
}
.search-bar button{
    padding: 2rem 7rem;
    background-color: #DF7861;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.search-bar button:hover{
    background-color: #2C3333;
    color: #DF7861;
}

/* Table Div */
table, thead, tr, td {
    border: 1px solid #CFD2CF;
    border-collapse: collapse;
}
table{
    width: 100%;
}
thead td{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
td{
    padding: 3rem;
    font-size: 1.6rem;
    text-align: center;
    border-right:1px solid white;
}



.table-content{
    flex-basis: 100%;
    margin-top: 3rem;

}

/* End of Table Container */

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2C3333;
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    margin-top: 2rem;
}


.source a{
    font-size: 1.6rem;
    margin-right: 3rem;
    color: white;
}
.source a:hover{
    color: #DF7861;
}

.convert-btn{
    padding: 1rem 3rem;
    background-color: #2C3333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: 900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.convert-btn:hover{
    background-color: #CFD2CF;
    color: #DF7861;
}
